.container {
    border: 2px solid rgb(255, 255, 255);
    height: 60vh;
    width: 60vw;
    text-align: center;
    border-radius: 50px;
    position: fixed;
    color: rgb(255, 255, 255);
    background-color: black;
}

body {
    background-color: black;
}

.full {
    border: 5px solid rgb(159, 175, 247);
    height: 96vh;
    width: auto;
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
}

#heading {
    /* background-color: blueviolet; */
    width: 60vw;
    border-radius: 50px;
}

#height {
    padding: 5px;
    border-radius: 50px;
    width: 300px;
    text-align: center;
    border: 2px solid #0000ff;
}

#weight {
    padding: 5px;
    border-radius: 50px;
    width: 300px;
    text-align: center;
    border: 2px solid #0000ff;
}

#btn {
    padding: 5px;
    border: 2px solid rgb(144, 229, 17);
    border-radius: 10px;
    font-size: medium;
    text-align: center;
}